<p id="notice"><%= notice %></p>

<h1>Receipt Details</h1>

<table>
  <thead>
    <tr>
      <th>Receipt</th>
      <th>Expense</th>
      <th>Price</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @receipt_details.each do |receipt_detail| %>
      <tr>
        <td><%= receipt_detail.receipt_id %></td>
        <td><%= receipt_detail.expense_id %></td>
        <td><%= receipt_detail.price %></td>
        <td><%= receipt_detail.name %></td>
        <td><%= link_to 'Show', receipt_detail %></td>
        <td><%= link_to 'Edit', edit_receipt_detail_path(receipt_detail) %></td>
        <td><%= link_to 'Destroy', receipt_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Receipt Detail', new_receipt_detail_path %>
