<p id="notice"><%= notice %></p>

<dl>
  <dt><strong>Date:</strong>
  <dd><%= @receipt.date %>
</dl>
<dl>
  <dt><strong>Store:</strong>
  <dd><%= @receipt.store.name %>
</dl>
<dl>
  <dt><strong>Pay:</strong>
  <dd>
    <% if @receipt.pay_account.present? %>
      <%= @receipt.pay_account.name %>
    <% else %>
      <br/>
    <% end %>
</dl>
<dl>
  <dt><strong>Receipt Detail:</strong>
  <dd>
    <table>
      <thead>
        <tr>
          <th>Name
          <th>Price
          <th>Expense
        </tr>
      </thead>
      <% @receipt.receipt_details.each do |receipt_detail| %>
      <tbody>
        <tr>
          <td><%=receipt_detail.name %>
          <td>￥<%=receipt_detail.price %>
          <td>
            <% if receipt_detail.expense.present? %>
              <%=receipt_detail.expense.name %>
            <% end %>
        </tr>
      </tbody>
    <% end %>
    </table>
  </dd>
</dl>


<%= link_to 'Edit', edit_receipt_path(@receipt) %> |
<%= link_to 'Back', receipts_path %>
