<p id="notice"><%= notice.html_safe if notice %></p>

<h1>All receipts</h1>

<%= form_tag receipts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], placeholder: 'ex. 2018-08' %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<%= form_tag xml_upload_path, name: 'f_xml_upload', multipart: true do %>
  <p>
    <%= file_field_tag :xml_upload %>
  </p>
<% end %>

<%= link_to 'New Receipt', new_receipt_path %>
<%= link_to "CSV download", receipts_path(format: "csv") %>
<%= link_to(
'XML upload', 
'javascript:void(0);',
onclick: 'document.f_xml_upload.submit();'
) %>

<h1>Receipts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Store</th>
      <th>Pay</th>
      <th>Detail</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receipts.each do |receipt| %>
      <tr>
        <td><%= receipt.date %></td>
        <td><%= receipt.store.name %></td>
        <td>
          <% if receipt.pay_account.present? %>
            <%=receipt.pay_account.name %>
          <% end %>
        </td>
        <td>
          <table>
            <% receipt.receipt_details.each do |receipt_detail| %>
              <tr>
                <td width="300px;"><%=receipt_detail.name %>
                <td width="50px;">￥<%=receipt_detail.price %>
              </tr>
            <% end %>
          </table>
        </td>
        <td>
          <%= link_to 'Show', receipt %><br/>
          ------<br/>
          <%= link_to 'Edit', edit_receipt_path(receipt) %><br/>
          ------<br/>
          <%= link_to 'Destroy', receipt, method: :delete, 
          data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
